{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}
    <title>单数据详情</title>
{% endblock %}
{% block right-content-container %}

    <div style="padding: 15px; margin-top: -40px" class="layui-anim">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
          <legend>单条数据波形图</legend>
        </fieldset>

        <div id="container" style="width: 1600px; margin-left: 15px">
        </div>

        <div style="padding: 15px;" class="layui-anim layui-anim-upbit">
            <div style="padding: 20px; background-color: #F2F2F2;">
              <div class="layui-row layui-col-space15">
                <div class="layui-col-md4">
                  <div class="layui-card">
                    <div class="layui-card-header">当前数据信息详情</div>
                    <div class="layui-card-body" style="height: 250px;">
                        所在文件：{{ file_name }}<br>
                        创建时间：{{ create_time }}<br>
                        数据ID: {{ data_id }}<br>
                        {% for k, v in message_head.items %}
                            {{ k }}：{{ v }}<br>
                        {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="layui-col-md4">
                  <div class="layui-card">
                    <div class="layui-card-header">当前数据信息详情</div>
                    <div class="layui-card-body" style="height: 250px;">
                        {% for kk,vv in message_body_param.items %}
                            {{ kk }}：{{ vv }}<br>
                        {% endfor %}
                        <div id="show-big-img">
                            <img style="width: 120px; height: 120px;" src="{{ img_path }}" onclick="ShowBigImage()">
                        </div>
                    </div>
                  </div>
                </div>
                  <div class="layui-col-md4">
                      <div class="layui-card">
                        <div class="layui-card-header">修改当前数据厚度</div>
                        <div class="layui-card-body" style="height: 250px;">
                            {% if thickness == "-1.0" %}
                                跑算法得出厚度值：暂未计算厚度值<br>
                            {% else %}
                                跑算法得出厚度值：{{ thickness }} mm<br>
                            {% endif %}
                            手测厚度值：{{ true_thickness }} (mm)<br>
                            <label for="true-thickness">手测厚度值：</label>
                            <input type="text" id="true-thickness" class="layui-input" style="display: inline-block;width: 200px;">
                            <button class="layui-btn" style="display: inline-block;" onclick="submit_true_thickness()">提交</button>
                            <label id="set-thickness-msg" style="color: red;"></label>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
        </div>
    </div>

    <input type="text" id="chart-data" style="display: none;" value="{{ data_list }}">

    <script>
    Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $(function(){
            initChart();
         });

        function initChart() {
            var config = {
                chart: {
                    type: 'spline',
                    shadow: true,
                },
                title: {
                    text: 'ID值: ' + {{ data_id }}
                },
                xAxis: {
                    type: 'linear',
                },
                yAxis: {
                    endOnTick: false, //对数Y轴不强制结束于标线
                    title: {
                        text: '数值'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.numberFormat(this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: true
                },
                series: [
                    {
                        name: '当前数据集厚度曲线',
                        data: JSON.parse($('#chart-data').val())
                    },
                ]
            };
            $('#container').highcharts(config);
        }

        function submit_true_thickness() {
            var true_thickness = $('#true-thickness').val();
            $.ajax({
                url: '/thickness/submit-true-thickness-ajax/',
                type: 'POST',
                data: {'true_thickness': true_thickness, 'nid': {{ data_id }}},
                dataType: 'JSON',
                success: function (arg) {
                    if(arg.status){
                            $('#set-thickness-msg').text(arg.message);
                            ClearMSG();
                        }else{
                            $('#set-thickness-msg').text(arg.message);
                            ClearMSG();
                        }
                }

            })

        }

        function ShowBigImage() {
                 layer.photos({
                     photos: '#show-big-img',
                     shadeClose: true,
                     closeBtn: 2,
                     anim: 0
                 });
            }

        //清除提示信息
        function ClearMSG() {
            setTimeout(function () {
                $("#set-thickness-msg").text('')
            }, 2000);
        }


    </script>
{% endblock %}










