{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}
    <title>偏差率统计</title>
{% endblock %}
{% block right-content-container %}

    <div style="padding: 15px; margin-top: -40px" class="layui-anim">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
          <legend>偏差率柱状图</legend>
        </fieldset>
        <div id="container" style="min-width:400px;height:400px"></div>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
          <legend>选择版本号</legend>
        </fieldset>
        <div class="layui-input-inline" style="width: 300px;">
            <select style="margin-left: 20px;" name="version" xm-select="version">
                {% for i in version_obj %}
                    <option value="{{ i.version }}">{{ i.version }}</option>
                {% endfor %}
            </select>
        </div>
        <button style="margin-left: 20px" lay-filter="submit" class="layui-btn" onclick="SelectVersion()">选择</button>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
             <legend>选择树状图数据详情</legend>
        </fieldset>
        <div class="layui-field-box">
            <table class="layui-table layui-form">
                <thead>
                    <tr>
                        <th>数据ID</th>
                        <th>版本号</th>
                        <th>跑算法得出厚度值(mm)</th>
                        <th>手测厚度值(mm)</th>
                        <th>波形图</th>
                    </tr>
                </thead>
                <tbody id="tb-list">
                </tbody>
            </table>
        </div>
    </div>
    <div id="pager-id"></div>

    <script type="text/javascript" src="/static/plugins/formselects/dist/formSelects-v4.min.js"></script>
    <script>
        var formSelects = layui.formSelects;
        var curr_page = 1;
        var limit = 10;

         Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $(function(){
            initChart();
         });

        function initChart() {
            chart = {
                chart: {
                    type: 'column',
                    zoomType: 'y',
                },
                title: {
                    text: '偏差率'
                },
                xAxis: {
                    categories: [
                        '0.0-0.1','0.1-0.2','0.2-0.3','0.3-0.4','0.4-0.5','0.5-0.6','0.6-0.7','0.7-0.8','0.8-0.9','0.9-1.0','1.0-+oo'
                    ],
                    title: {
                        text: '偏差量'
                    },
                    crosshair: true
                },
                tooltip: {
                    // head + 每个 point + footer 拼接成完整的 table
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y} 个</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        borderWidth: 0
                    },
                    series: {
                        cursor: 'pointer',
                        events: {
                            click:function (event) {
                                version = event.point.series.name;
                                deviation = event.point.category;
                                total = event.point.y;
                                getPage();
                                loadData();

                            }
                        }
                    }
                },
                series: []
            };
            $('#container').highcharts(chart);
        }

        //选择版本并显示已选版本的数据信息
        function SelectVersion() {
            layer.load();
            var version = formSelects.value('version', 'valStr');
            //console.log(version);
            $.ajax({
                url: '/thickness/deviation-rate-ajax/{{ nid }}/',
                type: 'POST',
                data: {'version': version},
                dataType: 'JSON',
                success: function (arg) {
                    if (arg.status){
                        chart.series = arg.data_list;
                        $('#container').highcharts(chart);
                        layer.closeAll('loading');
                    }
                }
            })
        }

        function loadData() {
            $.ajax({
                url: '/thickness/column-click-event-ajax/{{ nid }}/',
                type: 'POST',
                data: {'version': version,
                        'deviation': deviation,
                        'curr_page': curr_page,
                        'limit': limit
                },
                dataType: 'JSON',
                success: function (arg) {
                    if (arg.status){
                        var data_list = arg.data_list;
                        var html = '';
                        $.each(data_list, function (k, v) {
                            var data_id = v.data_id;
                            var version = v.version;
                            var run_alg_thickness = v.run_alg_thickness;
                            var true_thickness = v.true_thickness;
                            html += "<tr>";
                            html += "<td>" + data_id + "</td>";
                            html += "<td>" + version + "</td>";
                            html += "<td>" + run_alg_thickness + "</td>";
                            html += "<td>" + true_thickness + "</td>";
                            if(run_alg_thickness === null){
                                html += "<td><a href=\"/thickness/data-2048-chart/" + data_id + "/-1.0\" target=\"_blank\">数据波形</a></td>";
                            }else{
                                html += "<td><a href=\"/thickness/data-2048-chart/" + data_id + "/" + run_alg_thickness + "\" target=\"_blank\">数据波形</a></td>";
                            }
                            html += "</tr>";
                        });
                        $("#tb-list").empty().append(html); //页面填充

                    }else{
                        console.log(arg.message);
                        SelectVersion();
                    }
                }
            })
        }

        function getPage() {
            layui.use(['laypage'], function() {
                var laypage = layui.laypage;
                //console.log(total);
                laypage.render({
                    elem: 'pager-id'
                    ,count: total
                    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'limits', 'skip']
                    ,jump: function(obj, first){
                        curr_page = obj.curr; //当前页
                        limit = obj.limit;   //每页显示的条数
                        if(!first){
                            loadData();
                            }
                        }
                    });
                });
            }



    </script>
{% endblock %}










