{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}
    <title>文件标签</title>
{% endblock %}
{% block right-content-container %}
    <div style="padding: 15px; margin-top: -40px" class="layui-anim">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
          <legend>多文件上传列表</legend>
        </fieldset>

        <button style="margin-left: 0;" lay-filter="submit" class="layui-btn" onclick="GenerateDataSetByFile()">选中文件生成数据集</button>
        <p style="display: inline-block; width: 100px;"><label id="generate-dataset-by-file-msg" style="color: red;"></label></p>

        <div style="margin-left: 250px; width: 300px; display: inline-block;">
            <input id="file-tag" class="layui-input" type="search" placeholder="文件描述">
        </div>
        <button style="margin-left: 20px;" lay-filter="submit" class="layui-btn" onclick="SearchTag()">搜索</button>

        <button style="float: right;" lay-filter="submit" class="layui-btn layui-btn-danger" onclick="RemoveFile()">删除选中文件</button>
        <label id="remove-file-msg" style="color: red; float: right; margin-top: 10px"></label>

        <div class="layui-upload">
          <div class="layui-upload-list">
            <table class="layui-table">
              <thead id="table_th">
                <tr>
                    <th style="width: 30px"><input class="layui-form-checkbox" lay-skin="primary" type="checkbox" onclick="SelectAll(this)"></th>
                    <th style="width: 5px">操作</th>
                    <th style="width: 20px">ID</th>
                    <th style="width: 200px">文件名</th>
                    <th style="width: 150px">图片</th>
                    <th style="width: 80px">手测厚度</th>
                    <th>文件描述</th>
                </tr>
              </thead>
              <tbody id="table_tb">

              </tbody>
            </table>
          </div>
        </div>
    </div>
    <div id="pager-id"></div>
    <input type="text" style="display: none;" id="total-count" value="{{ count }}">
    <input type="text" style="display: none;" id="version" value="{{ version }}">

    <script type="text/javascript" src="/static/plugins/formselects/dist/formSelects-v4.min.js"></script>
    <script>

        $(function () {
            loadData(); //加载数据
            getPage();  //获取分页信息
         });

        var curr_page = 1;
        var limit = 10;
        var total = $('#total-count').val();

        function loadData() {
            $.ajax({
                url: '/thickness/tag-manage/',
                type: "POST",
                data: {
                    'curr_page': curr_page,
                    'limit': limit,
                },
                dataType: "JSON",
                success:function (ret) {
                    var data_list = ret.data_list;
                    RenderHTML(data_list);
                    }
                });
            }

            function getPage() {
                layui.use(['laypage'], function() {
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'pager-id'
                        ,count: total
                        ,layout: ['count', 'prev', 'page', 'next', 'limit', 'limits', 'skip']
                        ,jump: function(obj, first){
                            curr_page = obj.curr; //当前页
                            limit = obj.limit;   //每页显示的条数
                            if(!first){
                                loadData();
                                }
                            }
                          });
                     });
                }


        function bindEditMode(ths){
                var editing = $(ths).hasClass('layui-btn-warm');
                // console.log(editing);
                var $currentTr = $(ths).parent().parent();
                if(editing){
                    //退出编辑模式
                    $(ths).removeClass('layui-btn-warm');
                    $(ths).text('编辑');
                    trOutEditMode($currentTr);

                 }else{
                    //进入编辑模式
                    $(ths).addClass('layui-btn-warm');
                    $(ths).text('保存');
                    //console.log($currentTr);
                    trIntoEditMode($currentTr);

                 }
            }

         function trIntoEditMode($tr){
            //进入编辑
            $tr.addClass('success');
            var nid = $tr.children().eq(2).html();
            //console.log(nid);
            $tr.children().each(function () {
                //$(this) = td
                var editEnable = $(this).attr('edit-enable');
                var editType = $(this).attr('edit-Type');
                var editId = $(this).attr('id');
                if(editEnable === 'true'){
                    if(editType === 'input'){
                        //文本框
                        var innerText = $(this).text();
                        var input = document.createElement('input');
                        input.className = 'layui-input';
                        input.value = innerText;
                        input.id = editId;
                        $(this).html(input);

                    }else if(editType === 'file'){
                        //图片
                        var img = document.createElement('input');
                        img.type = 'file';
                        img.id = "img-" + nid;
                        $(this).html(img)
                    }
                }
            })
        }

        function trOutEditMode($tr){
            //退出编辑并保存
            layer.load();
            $tr.removeClass('success');
            var nid = $tr.children().eq(2).html();
            var fd = new FormData();
            fd.append('nid', nid);
            $tr.children().each(function () {
                //$(this) = td
                var editEnable = $(this).attr('edit-enable');
                var editType = $(this).attr('edit-Type');
                var editId = $(this).attr('id');   //true-thickness  file-explain
                if(editEnable === 'true'){
                    if(editType === 'input'){
                        var $input = $(this).children().first();
                        var inputValue = $input.val();
                        $(this).html(inputValue);
                        fd.append(editId, inputValue);
                    }else if(editType === 'file'){
                        var img_obj = $('#img-'+ nid)[0].files[0];
                        fd.append('img_obj', img_obj)
                    }
                }
            });
            //console.log(fd);
            $.ajax({
                url:'/thickness/tag-manage-save-ajax/',
                dataType:'JSON',
                type:'POST',
                data: fd,
                processData : false, // 使数据不做处理
                contentType : false, // 不要设置Content-Type请求头
                success: function(arg){
                    if(arg.status){
                        $tr.children().each(function () {
                            //$(this) = td
                            var editEnable = $(this).attr('edit-enable');
                            var editType = $(this).attr('edit-Type');
                            if(editEnable === 'true'){
                                if(editType === 'file'){
                                    //图片
                                    var img = document.createElement('img');
                                    img.src = arg.message;
                                    $(this).html(img)
                                }
                            }
                        });
                        layer.closeAll('loading'); //关闭loading
                    }else {
                        layer.closeAll('loading'); //关闭loading
                    }
                }
            });
        }

        //生成数据集
        function GenerateDataSetByFile() {
            var selected_data_id_list = [];
            $('#table_tb').find(':checkbox').each(function () {
                if ($(this).prop('checked')){
                    var nid = $(this).parent().parent().children().eq(2).html();
                    selected_data_id_list.push(nid);
                }
            });
            $.ajax({
                url: '/thickness/generate-dataset-by-file-ajax/',
                type: 'POST',
                data:  {'selected_data_id_list': JSON.stringify(selected_data_id_list)},
                dataType: 'JSON',
                success: function (arg) {
                    $('#generate-dataset-by-file-msg').text(arg.message);
                    ClearMSG('generate-dataset-by-file-msg');
                }
            })
        }

        //渲染表格
        function RenderHTML(data_list) {
            var html = '';
            $.each(data_list, function (k, v) {
                var nid = v.id;
                var file_name = v.file_name;
                var img_path = v.img_path;
                var file_explain = v.file_explain;
                var true_thickness = v.true_thickness;
                var version = $('#version').val();  //<div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon layui-icon-ok"></i></div>
                html += "<tr>";
                html += "<td><input class=\"layui-form-checkbox\" lay-skin=\"primary\" type=\"checkbox\"></td>";
                html += "<td><button type=\"button\" class=\"layui-btn\" onclick=\"bindEditMode(this)\">编辑</button></td>";
                html += "<td>" + nid + "</td>";
                html += "<td><a href=\"/thickness/single-file-data" + "/" + nid + "/" + version +  "\" >" + file_name + "</a></td>";
                html += "<td edit-enable=\"true\" edit-type=\"file\" id=\"show-img-" + nid + "\"><img src=\"" + img_path + "\" onclick=\"ShowBigImage(this)\"></td>";
                html += "<td edit-enable=\"true\" edit-type=\"input\" id=\"true-thickness\">" + true_thickness + "</td>";
                html += "<td edit-enable=\"true\" edit-type=\"input\" id=\"file-explain\">" + file_explain + "</td>";
                html += "</tr>";
            });
            $("#table_tb").empty().append(html); //页面填充
        }

        //显示大图
        function ShowBigImage(ths) {
                 var id = $(ths).parent().attr('id');
                 //console.log(id);
                 layer.photos({
                     photos: '#' + id,
                     shadeClose: true,
                     closeBtn: 2,
                     anim: 0
                 });
            }

        //全选
        function SelectAll(ths) {
            var select = $(ths).prop('checked');
            if (select) {
                $('#table_tb').find(":checkbox").each(function () {
                    $(this).prop('checked',true);
                })
            }else{
                $('#table_tb').find(":checkbox").each(function () {
                    $(this).prop('checked',false);
                })
            }
        }

        //删除文件
        function RemoveFile() {
            layer.msg('确定删除？', {
              time: 0 //不自动关闭
              ,btn: ['删除', '取消']
              ,yes: function(index){
                layer.close(index);
                var selected_file_id_list = [];
                $('#table_tb').find(':checkbox').each(function () {
                    if ($(this).prop('checked')){
                        var nid = $(this).parent().parent().children().eq(2).html();
                        selected_file_id_list.push(nid);
                    }
                });
                $.ajax({
                    url: '/thickness/remove-file-ajax/',
                    type: 'POST',
                    data:  {'selected_file_id_list': JSON.stringify(selected_file_id_list)},
                    dataType: 'JSON',
                    success: function (arg) {
                        $('#table_tb').find(':checkbox').each(function () {
                            if ($(this).prop('checked')){
                                var $tr = $(this).parent().parent();
                                $tr.remove()
                            }
                        });
                        $('#remove-file-msg').text(arg.message);
                        ClearMSG('remove-file-msg');
                    }
                })
                }
            });
        }

        //搜索tag
        function SearchTag() {
            var search_value = $('#file-tag').val();
            $.ajax({
                url: '/thickness/search-tag-ajax/',
                type: 'POST',
                data:  {'search_value': search_value},
                dataType: 'JSON',
                success: function (arg) {
                    var data_list = arg['data_list'];
                    RenderHTML(data_list);
                    $('#pager-id').remove()
                }
            })
        }

        //清除提示信息
        function ClearMSG(nid) {
            setTimeout(function () {
                $("#"+nid).text('');
            }, 3000);
        }


    </script>



{% endblock %}











