{% extends 'base.html' %}

{% block body %}
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo" style="background-color: white">
                <img src="/static/images/loginlogo.png" style="width: 162px; height: 51px; float: left; margin-top: 4px; margin-left: 15px;">
            </div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item">
                    <a href="/thickness/dataset-condition-list/">数据集列表</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/thickness/generate-dataset-by-time/">按时间生成数据集</a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;"><img src="/static/images/avatar/default.png" class="layui-nav-img">{{ user }}</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/thickness/change-pwd/">修改密码</a></dd>
                        <dd><a href="/logout/">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                    <li class="layui-nav-item"><a href="/thickness/index/"><i class="layui-icon"></i> 首页</a></li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;"><i class="fa fa-play" aria-hidden="true"></i> 生成数据集</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/thickness/generate-dataset-by-time/" style="margin-left: 20px">按时间生成</a></dd>
                            <dd><a href="/thickness/generate-dataset-by-file/" style="margin-left: 20px">按文件生成</a></dd>
                        </dl>
                    </li>
{#                    <li class="layui-nav-item"><a href="/thickness/generate-dataset/"><i class="fa fa-play" aria-hidden="true"></i> 生成数据集</a></li>#}
                    <li class="layui-nav-item"><a href="/thickness/dataset-condition-list/"><i class="fa fa-table" aria-hidden="true"></i> 数据集列表</a></li>
                    <li class="layui-nav-item"><a href="/thickness/upload-file/"><i class="fa fa-cloud-upload" aria-hidden="true"></i> 文件上传</a></li>
                    <li class="layui-nav-item"><a href="/thickness/tag-manage/"><i class="fa fa-cloud-upload" aria-hidden="true"></i> 文件标签管理</a></li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;"><i class="layui-icon"></i> 个人中心</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" style="margin-left: 20px">个人信息</a></dd>
                            <dd><a href="/thickness/change-pwd/" style="margin-left: 20px">修改密码</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="/logout/"><i class="layui-icon"></i> 退出登陆</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <div style="padding: 20px;">
                {% block right-content-container %}

                {% endblock %}
{#            </div>#}
{#        </div>#}

    </div>

    <script>
        //JavaScript代码区域
        layui.use('form', function(){  //如果只加载一个模块，可以不填数组['form', 'upload']。如：layui.use('form')
                  var form = layui.form; //获取form模块
                  //监听提交按钮
                  form.on('submit(test)', function(data){
                  });
                });

        layui.use('element', function(){
          var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
          //监听导航点击
          element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
              });
            });


    </script>

{% endblock %}


